# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/

# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env*
!/.env*.erb

# Ignore all default key files.
/config/master.key
/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Ignore gitignore file.
.gitignore

# Ignore README file.
README.md

# Ignore tmp directory.
tmp/*

# Ignore log directory.
log/*

# Ignore md files.
*.md

# Ignore env files.
.env*

# Ignore dockerignore file.
.dockerignore

# Ignore docker-compose file.
docker-compose.yml

# Ignore Dockerfile.
Dockerfile

# Ignore coverage directory.
coverage/*

# Ignore spec directory.
spec/*

# Ignore test directory.
test/*
